# =============================================================================
# .gitattributes
# =============================================================================
# 改行コードの設定
*           text=auto
*.sh        text    eol=lf
*.js        text    eol=lf
*.mjs       text    eol=lf
*.html      text    eol=lf
*.css       text    eol=lf
*.txt       text    eol=lf
*.json      text    eol=lf
*.yml       text    eol=lf
*.yaml      text    eol=lf
*.toml      text    eol=lf
*.env       text    eol=lf
*.md        text    eol=lf
LICENSE     text    eol=lf
